<div class="alert-page">
  <div class="alert-return-link tile-shadow">
    <div class="d-flex">
      <%= link_to "", car_path(@car), class: "fas fa-angle-left return-icon-alert" %>
      <%= link_to "Retour au véhicule", car_path(@car), class: "return-text"  %>
    </div>
  </div>
  <div>
    <% @alerts.each do |alert| %>
    <!-- show all alerts -->
      <%= render 'components/alert_category/card', alert: alert %>
    <% end %>
  </div>
</div>
