// Body:
body {
  background-color: $background !important;
  margin: 0;
  padding: 0;
}

// Border radius:
.rounded-card {
  border-radius: 10px;
}
.circle {
  border-radius: 100%;
}

// Shadows:
.tile-shadow {
  box-shadow: 0 4px 5px hsla(0, 0, 0, 0.15);
}
.tile-shadow-top {
  box-shadow: 0 -4px 5px hsla(0, 0, 0, 0.15)
}
.card-shadow {
  box-shadow: 3px 4px 5px hsla(0, 0, 0, 0.15);
}
