.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.garage-header {
  top: 60px;
  position: sticky;
  height: 120px;
  width: 100%;
}

.search {
  top: 0px;
  height: 100px;
  width: 100%;
  background-color: white;
  position: relative;
  .select{
    position: absolute;
    width: 90%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn-hidden {
  position: absolute;
  margin: 0 auto;
  // left: 160px;
  vertical-align: middle;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 3px solid $white;
  // box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.rounded-card-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-card-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.garage_cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  height: 680px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.garage_card {
  top: 70px;
  width: 350px;
  // height: 120px;
  margin: 10px auto;
}

.garage_info {
  color: $white;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  text-align: left;
}

.garage-info-contact {
  margin-left: 5px;
  margin-bottom: 5px;
}

.garage_title {
  color: $primary;
  height: 80px;
  width: 100%;
  background-color: $white;
  text-align: center;
}

.garage_logo_name {
  width: 80%;
  color: $primary;
  height: 80px;
}

.garage_name {
  // margin-left: 20px;
  text-align: left;
}

.garage_rating {
  // flex-grow: 4;
  // margin-right: 10px;
  margin-left: 5px;
}

.service_price {
  margin-right: 25px;
}

.full_garage_address {
  margin-left: 15px;
  width: 175px;
  border-right: 1px solid white;
}

.garage_address {
  a {
    border: inherit;
    font-size: inherit;
  }
  font-size: 12px !important;
  color: white;
  // width: 150px;
  // border-right: 1px solid white;
}
.euros {
  padding-left: 5px;
  margin-left: 5px;
}

.icone {
  display: inline;
}

.garage-logo {
  margin-top: 10px;
  margin-left: 10px;
}

.garage_contact{
  margin: auto;
}

.garage_phone_number {
  text-align: center;
  margin: 20px;
}

.garage_web_address{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.mapboxgl-map {
  margin: 0;
  position: absolute;
  top: 160px;
  z-index: -10;
}

.fantom{
  width: 100%;
  height: 300px;
}
