// Specific CSS for your home-page
.container-intro {
  background-color: $white;
  padding: 58px 28px;
  text-align: center;
  margin: 50px 24px 0px 24px;
  height: 570px;
}

.image-intro {
  width: 300px;
  height: 220px;
  padding-bottom: 20px;
}

.intro {
  padding-bottom: 20px;
}
