.title-login {
  color: $secondary-li;
  text-align: center;
  font-family: $headers-font;
  // font-weight: 200;
  font-size: 40px;
  margin-top: 80px;
}

.title-car-login {
  color: $secondary;
}

.container-login {
  background-color: $white;
}
