.card {
  border: 1px solid grey;
  width:  249px;
  margin: 0px 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.cards {
  width:  249px;
}

.img_card {
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my_vehicule_list{
  padding: 0 20px;
}

.my_vehicules_title {
  width: 100vw;
  background-color: white;
  display: grid;
  place-content: center;
  height: 50px;
}

.new_car_button {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 50px;
}
