.card {
  border: 1px solid grey;
  width:  249px;
  margin: 0px 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.cards {
  width:  249px;
}

.img_card {
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my_vehicule_list{
  padding: 0 20px;
}

.my_vehicules_title {
  width: 100vw;
  background-color: white;
  display: grid;
  place-content: center;
  height: 50px;
  margin-bottom: 40px;
}

.new_car_button {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  height: 50px;
}

.my_vehicule_card {
  margin-bottom: 40px;
  overflow: hidden;
  background-color: $white;
  height: 270px;

  img {
    width: 350px;
    height: 164px;
    // background-size: cover;
    // background-repeat: no-repeat;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
}

.my_vehicule_alert {
  position: absolute;
  right: 20px;
  border-radius: 0px 10px 0px 10px;
}
.my_car_engine {
  margin: 0;
}

.my_vehicule_details {
  padding: 10px;
}

.red-icon .yellow-icon {
  // font-size:8px;
  .fa-exclamation-triangle {
    font-size: 6px;
  }
  .fa-info-circle {
    font-size: 6px;
  }
}
