.card {
  border: 1px solid grey;
  width:  249px;
  margin: 0px 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.cards {
  width:  249px;
}

.img_card {
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my_vehicule_list{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my_vehicules_title {
  width: 100vw;
  background-color: white;
  display: grid;
  place-content: center;
  height: 50px;
  margin-bottom: 30px;
}

.new_car_button {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  height: 50px;
}

.my_vehicule_card {
  width: calc(100vw - 40px);
  margin-bottom: 30px;
  overflow: hidden;
  background-color: $white;
  // height: 270px;
  background-color: $white;

  .my_vehicule_img {
    width: 350px;
    height: 180px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center;
  }
}

.my_vehicule_alert {
  position: absolute;
  right: 20px;
  border-radius: 0px 10px 0px 10px;
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fa-exclamation-triangle, .fa-info-circle {
    font-size: 20px;
  }
}
.my_car_engine {
  margin: 0;
}

.my_vehicule_details {
  padding: 20px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.new_vehicule_card {
  width: 200px;
  height: 50px;
  background-color: $secondary;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: $white;
}

.add-button {
  margin-bottom: 120px;
  .button {
    margin: 0;
  }
}
