.sticker {
  // width: 80px;
  position: fixed;
  left: 100%;
  transform: translateX(-100%);
  .red-alert {
    position: absolute;
    right: 20px;
    border-radius: 0px 0 10px 10px;
    height: 40px;
    width: 70px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: $red;
    color: $white;
    font-size: 24px;
  }
}

.car-tile {
  img {
    width: 100vw;
    height: calc(100vw * 2 / 3);
    object-fit: cover;
  }
}

.car-tile-info {
  background-color: $white;
  padding: 20px 30px;
}

.car-tile-mileage {
  height: 40px;
  padding-left: 30px;
  background-color: $primary-rg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mileage-tile {
    color: $white;
  }
}

.car-tile-mileage-update {
  height: 40px;
  padding-left: 30px;
  background-color: $secondary-li;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mileage-form {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .mileage-input {
    background-color: transparent;
    border: none;
    color: $primary-dk;
  }
  .mileage-tile {
    color: $primary-dk;
  }
  .mileage-input {
    background-color: none;
    border-radius: none;
  }
  .mileage-group {
    display: flex;
    align-items: center;
  }
}

.car-tile-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    margin-right: 10px;
  }
  a {
    height: 40px;
    width: 49.9vw;
    background-color: $secondary;
    display: grid;
    place-content: center;
    color: $white;
    &:active {
      background-color: $secondary-rg;
    }
  }
}

.info-tile {
  margin: 20px 0;
  background-color: $white;
  padding: 40px 20px;
  h2 {
    margin-bottom: 30px;
  }
  .key-info {
    display: flex;
    justify-content: space-between;
  }
  hr {
    color: $grey-li;
  }
}

.delete-car {
  margin-top: 40px;
  margin-bottom: 120px;
  display: grid;
  place-content: center;
}

// .link_document {
//   margin-left: 60px;
//   &.link_to{
//     color: white;
//   }
// }
