.new_vehicule_title {
  color: $primary;
  font-family: $headers-font;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 8px;
  background-color: $white;
}

.vehicule-card {
  background-color: $white;
  overflow: hidden;
  .new_car_img {
    width: 100%;
    height: 110px;
    object-fit: cover;
  }
}

.listed_new_cars {
  background-color: $background;
  margin-bottom: 100px;
}

.new_car_input {
  width: 100vw;
  height: 125px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 15px;
  }
  .form-control {
    border: none;
    width: calc(100vw - 40px);
    background-color: $secondary-li
  }
}

.new_car_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  // background-color: $background;
}

.new_car_info {

}

.new_car_model {
  margin-bottom: 0;
  padding: 0px 10px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new_car_engine {
  margin-bottom: 0;
  // border-top: solid $secondary 1px;
  background-color: $secondary;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enginespec {
  margin-bottom: 0;
  text-align: center;
  color: $white;
}

.fuelspec {
  margin-bottom: 0;
  font-size: small;
  text-align: center;
  color: $white;
}
