<div class="d-flex flex-column map_popup">
  <div class="d-flex flex-row justify-content-between">
    <% if garage.photo.attached? %>
      <%= cl_image_tag garage.photo.key, height: 60, width: 60, crop: :fill, class: " logo_map" %>
    <% end %>

    <div class="align-self-start map_price d-flex flex-column justify-content-end">
      <% if garage.services.first != nil%>
        <p class="map_popup_rtg_price">
          <%=garage.services.first.price%>
          <i class="fas fa-euro-sign"></i>
        </p>
      <%end%>
      <div>
        <p class="map_popup_rtg_price"><%= garage.average_rating%><i class="fas fa-star"></i></p>
      </div>
    </div>
  </div>

  <h2 class="map_popup_title"><%=garage.name%></h2>
</div>
