<% @garages.each do |garage| %>
  <div>
    <%= garage[:name] %>
    <i class="fas fa-map-marker-alt"></i><i><%=garage[:address]%></i>
    <strong><%=garage[:phone]%></strong>
    <%= link_to "address", "https://www.allogarage.fr/#{garage[:mail]}"%>
  </div>
<%end%>
