<div class="navbar row tile-shadow-top">

  <%= link_to cars_path, class: "col active" do %>
    <div class="icon-circle">
      <i class="fas fa-car circle"></i>
    </div>
    <p class="txt-info">Véhicules</p>
  <% end %>

  <%= link_to garages_path, class: "col inactive" do %>
    <div class="icon-circle">
      <i class="fas fa-tools circle"></i>
    </div>
    <p class="txt-info">Garages</p>
  <% end %>

  <%= link_to root_path, class: "col inactive" do %>
    <div class="icon-circle">
      <i class="fas fa-user-cog circle"></i>
    </div>
    <p class="txt-info">Paramètres</p>
  <% end %>

</div>
