<div class="nav row tile-shadow-top">

  <%= link_to garages_path, :class => nav_active?(['garages']) do %>
    <div class="icon-circle">
      <i class="fas fa-tools circle"></i>
    </div>
    <%# <p class="txt-info">Garages</p> %>
  <% end %>

  <%= link_to cars_path, :class => nav_active?(['cars', 'alerts']) do %>
    <div class="main-icon-circle">
      <i class="fas fa-car circle"></i>
    </div>
    <%# <p class="txt-info">Véhicules</p> %>
  <% end %>

  <%= link_to account_path, :class => nav_active?(['pages']) do %>
    <div class="icon-circle">
      <i class="fas fa-user-cog circle"></i>
    </div>
    <%# <p class="txt-info">Paramètres</p> %>
  <% end %>

</div>
