<h1 class="title-login">HARMONY</span><span class="title-car-login">CAR</span></h1>
<div class="container-intro rounded-card">
  <div class="intro">
    <%= image_tag "satdown_intro.png", class: "image-intro" %>
    <p>Centralisez et facilitez la gestion de vos véhicules dans <strong>une</strong> application.</p>
  </div>
<%# link_to "sign up",  new_user_registration_path %>
  <%= link_to "Démarrer", new_user_session_path, class: "btn btn-primary" %>
</div>
