    <div data-mileage-update-target="info" class="<%= 'd-none' if car.errors.any? %>" >
    <%# data-mileage-update-target="data"> %>
      <p class="mileage-tile"><%= car.mileage%> Km</p>
    </div>
