<div class="new_car_grid" data-search-car-target="list">

    <% @specifications.each do |specification| %>
      <%= render "components/cars/vehicule_card", specification: specification%>
    <% end %>

</div>
