<p class="mileage-tile" data-modal-car-km-target="mileage"><%= car.mileage%> Km</p>

<div type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="button-mileage">
  <i class="fas fa-pen"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">nouveau Km</h5> <!-- NAME DOESNT WORK -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= simple_form_for car do |f| %>
          <%= f.input :mileage %>

      </div>
        <div class="modal-footer">
        <%= f.submit "Valider",  method: :patch, class:"btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
