.mapboxgl-popup {
  background-color:rgba(0,0,0,0.0) ;
  min-width: 180px;
  max-width: 200px;
  border-radius: 10px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {

  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  border-radius: 15px;
  max-width: 220px;

}

.map_price {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;

}

.logo_map {

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.map_popup_title {
  text-align: left;
  font-weight: bold;
}

.map_popup_rtg_price {
  font-size: 15px;
  margin-top: 5px;
}
