.navbar {
  text-align: center;
  background-color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;

  p {
    margin: 0;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active {
    p {
      color: $primary;
    }
    .icon-circle {
      background-color: $primary;
    }
  }

  .inactive {
    .icon-circle {
      background-color: $grey;
    }
  }

  a:active {
    .icon-circle {
      background-color: $primary-rg;
    }
    p {
      color: $primary-rg;
    }
  }

  .fas {
    color: $white;
    padding: 7px;
  }
  .fa-car {
    font-size: 25px;
  }
  .fa-tools {
    font-size: 21px;
  }
  .fa-user-cog {
    font-size: 21px;
  }
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
