// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/text";
@import "config/others";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Global
* {
  margin: 0;
  padding: 0;
  h1, h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .body-yield {
    margin-bottom: 94px;
  }
}
a {
  text-decoration: none;
}
// body {
//   min-height: 100vh;
// }
