<div class="my_vehicules_title">
  <h2 class="h2title" >Vos véhicules</h2>
</div>
<div class = "my_vehicule_list">
  <% current_user.cars.each do |car| %>

    <%= render 'components/cars/my_vehicule_card', car: car %>
  <%end%>
</div>

<div class="add-button d-flex justify-content-center">
  <%= link_to "Ajouter un véhicule", new_car_path, class: "button" %>
</div>
