<div class="my_vehicules_title">
  <h2 class="h2title" >Vos véhicules</h2>
</div>
<div class = "my_vehicule_list">
  <% current_user.cars.each do |car| %>

    <%= render 'components/cars/my_vehicule_card', car: car %>
  <%end%>
</div>

<%= link_to new_car_path do %>
  <div class="d-flex justify-content-center">
    <div class="new_vehicule_card rounded-card card-shadow d-flex">
    <p class="add-a-button">Ajouter un véhicule</p>
    </div>
  </div>
<% end %>
