<div class="my_vehicules_title">
  <h2 class="h2title" >Vos véhicules</h2>
</div>
<div class = "my_vehicule_list mt-4">
  <% current_user.cars.each do |car| %>

    <%= render 'components/cars/my_vehicule_card', car: car %>
  <%end%>
</div>

<div class="new_car_button">
<%= link_to "", new_car_path, class: "fas fa-plus button-circle" %>
</div>
<div class="footer-provisoire"></div>
