
<div class = "my-vehiccule-card">
  <% current_user.cars.each do |car| %>
    <%= render 'components/cars/my_vehicule_card', car: car %>
  <%end%>
</div>

<%= link_to "add a new vehicule", new_car_path %>
