<div data-controller="search-car" class="listed_new_cars">
  <div class="new_car_input card-shadow">
    <h2>Recherchez votre véhicule</h2>
    <%= form_with url: new_car_path, method: :get, html: {
      data: { search_car_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Marque, modèle, année, moteur...',
                      value: params[:query],
                      data: { search_car_target: 'input',
                              action:'keyup->search-car#update' } %>
    <% end %>
  </div>
  <%= render "components/cars/list", local: { specifications: @specifications, car: @car, alert1: @alert1, alert2: @alert2 } %>
</div>
