
<i class="fas fa-trash-alt button-circle-doc" data-bs-toggle="modal" data-bs-target="#docDelete"></i>
<!-- Modal -->
<div class="modal fade" id="docDelete" tabindex="-1" aria-labelledby="docDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="docDeleteLabel">Supprimer votre véhicule</h2>
      </div>
      <div class="modal-body">
        <p>
          Voulez-vous vraiment supprimer votre document ?
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to "supprimer",
            document_path(document),
            method: :delete,
            class: "button-outline-red"%>
          <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
      <%# <% end %>
      </div>
    </div>
  </div>
</div>
