<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/header" %>
  </head>
  <body>
    <%# <%= render 'shared/flashes' %>

    <div class="body-yield">
      <%= yield %>
    </div>
  </body>
</html>
